{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="ticker">
    <div class="ticker-wrap">
        <div class="ticker-move">
            <span>📈 AAPL: +1.25%</span>
            <span>💹 BTC: +0.88%</span>
            <span>📉 TSLA: -2.10%</span>
            <span>📊 ETH: +3.45%</span>
            <span>🪙 DOGE: -0.50%</span>
        </div>
    </div>
</div>
    <h1>Welcome to the Paper Trading App!</h1>
    <p>Start learning and simulating your trades risk-free.</p>

    <dotlottie-wc
  src="https://lottie.host/c8d78c47-bca3-4297-af94-ffe50201f17b/eeW9Nx9xlh.lottie"
  style="width: 500px;height: 500px; align-items: center;"
  
  speed="1"
  autoplay
  loop
></dotlottie-wc>

    </div>
{% endblock %}