{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
    {% block content %}
    <div class="container">
           
        <h1>LOGIN To get Started.</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.email.label}} --- {{form.email()}}
            {{form.password.label}} --- {{form.password()}}
            {{form.submit()}}
            
        </form>
        <div style="display: flex; justify-content: center; padding-top: 10px;">
        <a  href="{{ url_for('auth_route.googlelogin') }}" class="btn btn-danger center">
             <i class="fab fa-google">Login with Google</i> 
        </a>
        </div>
            <dotlottie-wc
  src="https://lottie.host/c80376d7-1474-4087-8e90-f756c973e366/rzFEkqaNXh.lottie"
  style="width: 500px;height: 300px;"
  speed="1"
  autoplay
  loop
></dotlottie-wc>
        </div>
 
    {% endblock %}